@import "tailwindcss";

@theme{
  --color-deepteal: #031926;
  --color-mediumteal: #468189;
  --color-sage: #77ACA2;
  --color-mint: #9DBEBB;
  --color-tcream: #F4E9CD;
  --color-testing: #182024;
}

:root[data-theme="dark"] {
  --bg: #000000;
  --text: #e5e7eb;
  --card: rgb(24,27,32);
  --border: rgb(84,90,106);
}

:root[data-theme="light"] {
  --bg: #ffffff;
  --text: #111827;
  --card: #ffffff;
  --border: #e5e7eb;
}

body {
  background: var(--bg);
  color: var(--text);
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}